OTHER_BACKPORTS.md filter=lfs diff=lfs merge=lfs -text
test_ipaddress.py filter=lfs diff=lfs merge=lfs -text
test-python2.7.Dockerfile filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
ipaddress.py filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_PSF filter=lfs diff=lfs merge=lfs -text
test-python3.2.Dockerfile filter=lfs diff=lfs merge=lfs -text
setup.cfg filter=lfs diff=lfs merge=lfs -text
setup.py filter=lfs diff=lfs merge=lfs -text
test-python2.6.Dockerfile filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
MANIFEST.in filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
test-python3.3.Dockerfile filter=lfs diff=lfs merge=lfs -text
